version: "3.9"
services:
  cvtcaptcha:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - cvtcaptcha-network
    restart: unless-stopped

  db:
    image: postgres:17
    env_file:
      - .env.db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - cvtcaptcha-network
    restart: unless-stopped

volumes:
  db_data:

networks:
  cvtcaptcha-network: