<configuration>
    <!-- Hibernate logs to hibernate.log -->
    
    <appender name="HIBERNATE_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/hibernate.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.hibernate" level="DEBUG" additivity="false">
        <appender-ref ref="HIBERNATE_FILE"/>
    </logger>
    
    <!--
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet.WebMvcEndpointHandlerMapping" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.servlet.ControllerEndpointHandlerMapping" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.reactive" level="WARN"/>
    <logger name="org.springframework.boot.actuate.endpoint.web.reactive.ControllerEndpointHandlerMapping" level="WARN"/>
    -->
    <!-- Other logs to app.log -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.tomcvt.cvtcaptcha.logging.StringBlockFilter">
            <blockedSubstringsList>/actuator</blockedSubstringsList>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="APP_FILE" class="ch.qos.logback.core.FileAppender">
        <filter class="com.tomcvt.cvtcaptcha.logging.StringBlockFilter">
            <blockedSubstringsList>/actuator</blockedSubstringsList>
        </filter>
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CLEANUP_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/cleanup.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.tomcvt.cvtcaptcha.service.CleanupService" level="DEBUG" additivity="false">
        <appender-ref ref="CLEANUP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.tomcvt.cvtcaptcha" level="DEBUG" additivity="false">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.security" level="DEBUG" additivity="false">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <!--o.s.s.a.m.AuthorizationManagerBeforeMethodInterceptor-->
    <logger name="org.springframework.security.authorization.method.AuthorizationManagerBeforeMethodInterceptor" level="INFO" additivity="false"/>
    
    <root level="INFO">
        <appender-ref ref="APP_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>