<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="card center">
            <h1>Welcome to CVT Captcha!</h1>
            <p class="center" th:text="'Hello, ' + ${username} + '!'">Hello, user!</p>
            <p class="center" th:if="${isAnon}" th:text="'As an anonymous user, you have ' + ${remainingRequests} + ' requests remaining.'"></p>
        </div>
        <div class="rows center">
            <button class="btn btn-secondary wide" onclick="window.location.href='/test';">Go to Test Page</button>
            <button class="btn btn-primary wide" onclick="window.location.href='/login';">Login</button>
            <button class="btn btn-primary wide" onclick="window.location.href='/register';">Register</button>
        </div>
        <div id="captchaData" class="center"></div>
        <div id="captchaContainer" class="center"></div>
    </div>
    <script type="module" src="/js/home.js"></script>
</body>
</html>
